* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body {

    font-family: 'Roboto', sans-serif;
    color: #c5c5c5;
    letter-spacing: 0.5px;
    background-color: #202020;
}

.colorText {
    color: #fff;
}

.colorText-orange {
    color: #f44647;
}

.nav-bg {
    background-color: rgba(0, 0, 0, 0.7) !important;
    
}

.fs-7 {
    font-size: 13px;
}

.nav-text-color li a {
    color: white;
}

.nav-text-color li a:hover {
    color: #f44647;
}

.nav-icon ul li {
    list-style: none;

}

.dropdown-custom {
    border-top: 3px solid #f44647;
}

.dropdown-custom li a {
    font-size: 12px;
    color: black;
}

.nav-icon ul li a i {
    width: 30px;
    height: 32px;
    text-align: center;
    margin: 2px;
    padding: 8px;
    background-color: #f44647;
    color: white;
    border-radius: 50%;

}

.nav-icon ul li a i:hover {
    background-color: #ee0000;

}

/* wkejfanj gaskjg nskjfnasgklw lgjasngljks */



.sliderBg1 {
    background: url(./Img/slider-1.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 130px;

}

.sliderBg2 {
    background: url(./Img/slider-2.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 130px;

}

.sliderBg3 {
    background: url(./Img/slider-3.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 130px;

}

.slider1-contect {
    padding: 30px;
    background-color: rgba(244, 70, 71, 0.9);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(247, 94, 94, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(247, 94, 94, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(247, 94, 94, 0.75);

}

.fs-8 {
    font-size: 15px;
}

.btn {
    width: 120px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: #202020;
    color: #fff;
}

/* snkdfsmdnfsna fsgjknsdkjgn sdgndkamgndk */

.features-content1 {
    background-color: #111;
    border-bottom: 1px solid rgb(183, 183, 183);
    border-top: 1px solid rgb(183, 183, 183);
}

.features-content2 {
    background-color: rgba(139, 145, 221, 0.1);
    border-bottom: 1px solid rgb(183, 183, 183);
    border-top: 1px solid rgb(183, 183, 183);
}

/* wuefha e fawejhfawjehflaijeflahehf */

.service-section {
    padding: 40px 0px 80px 0px;
}

/* .description {
    position: absolute;
    z-index: -1;
    left: 240px;
    margin-top: 15px;
    width: 20px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);

}

.description:hover {
    background-color: #ee0000;
}

.description2 {
    position: absolute;
    z-index: -1;
    left: 620px;
    margin-top: 15px;
    width: 20px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);

}

.description3 {
    position: absolute;
    z-index: -1;
    left: 1000px;
    margin-top: 15px;
    width: 20px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);

} */

.service-h:hover .service-content-hover {
    border-color: #ee0000;

}

.service-content {
    background-color: #202020;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* wfhaskhlk gljkhgljdhlgerhiah grgkljrr */

.about-area {
    padding: 80px 0px 50px 0px;
    background-color: #0e0e0e;
}

.areaImg1 img {
    height: 230px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.areaImg2 {
    height: 230px;
    border-radius: 10px;
    background: linear-gradient(8deg, rgba(240, 88, 88, 0.70) 0%, rgba(255, 48, 48, 0.70) 53%), url(./Img/about-2.jpg)no-repeat center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.areaImg3 img {
    width: 75%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.l-speace {
    letter-spacing: 3px;
}

.read-btn {
    width: 120px;
    padding: 13px;
    background-color: #f44647;
    color: white;
    border: none;
    letter-spacing: 1px;
    border-radius: 20px;

}

.read-btn:hover {
    background-color: #ee0000;

}

/* fdnaFJKLN SFJKAKLGNLKJNGJILESN */

.count-section {
    padding: 100px 0px 80px 0px;
    background: linear-gradient(8deg, rgba(1, 1, 1, 0.75) 0%, rgba(1, 1, 1, 0.5) 53%),
        url(./Img/counter-bg.jpg) no-repeat center center;
    background-size: cover;
}

.count-content {
    background-color: #f44647;
    border-radius: 8px;

}

/* fuhawfwefh wegweihfwoeuithweio uthweuiothweoui */

.blog-section {
    padding: 80px 0px 50px 0px;
}

.line-1 {
    margin: auto;
    width: 110px;
    height: 1px;
    background-color: gray;
}

.line-2 {
    margin: auto;
    width: 160px;
    height: 2px;
    background-color: #f44647;
    border-radius: 100%;
}

.line-3 {
    margin: auto;
    width: 110px;
    height: 1px;
    background-color: gray;
    border-radius: 100%;
}

.blog-content1 {
    background: linear-gradient(8deg, rgba(1, 1, 1, 0.75) 0%, rgba(1, 1, 1, 0.5) 53%), url(./Img/blogbg1.jpg) no-repeat center center;
    background-size: 360px;
    padding: 90px 0px;
    border-radius: 8px;
    transition: all 1s;
}

.blog-content2 {
    background: linear-gradient(8deg, rgba(1, 1, 1, 0.75) 0%, rgba(1, 1, 1, 0.5) 53%), url(./Img/blogbg2.jpg) no-repeat center center;
    background-size: 360px;
    padding: 90px 0px;
    border-radius: 8px;
    transition: all 1s;
}

.blog-content3 {
    background: linear-gradient(8deg, rgba(1, 1, 1, 0.75) 0%, rgba(1, 1, 1, 0.5) 53%), url(./Img/blogbg3.jpg) no-repeat center center;
    background-size: 360px;
    padding: 90px 0px;
    border-radius: 8px;
    transition: all 1s;
}

.blog-content1:hover {
    /* filter: blur(1px); */
    background-size: 430px;
}

.blog-content2:hover {
    /* filter: blur(1px); */
    background-size: 430px;
}

.blog-content3:hover {
    /* filter: blur(1px); */
    background-size: 430px;
}

.h-blog-h5 {
    color: white;
}

.h-blog-h5:hover {
    color: #f44647;
}

.blog-content ul {
    list-style: none;
}

.w-30{
    width: 30%;
}
/* efbase fasekjfbskljfbglagjbekjglerwjgwekl */

.action-section {
    background: linear-gradient(8deg, rgba(1, 1, 1, 0.75) 0%, rgba(1, 1, 1, 0.5) 53%), url(./Img/call-to-action-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
}

.animate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid #f44647;
    border-radius: 50%;
    position: relative;
    left: 220px;
    /* animation: witr_squares 1.5s ease-in-out infinite; */
}
.action-btn {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: #f44647;
    padding: 20px;
    border-radius: 50%;
    animation: 1.5s ease-in-out;


}

/* nfasjknfaskl asmfnas lfgnaklgmnagk.naem,rgnaefm,nbhjh */

.pricing-section{
    padding: 80px 0px 50px;
}

.Bp-box {
    background-color: #0e0e0e;
    border: 2px solid #303030;
    border-radius: 10px;
}

.Bp-box:hover {
    border: 2px dashed #f44647;
}
.Bp-box-c {
    background-color: #0e0e0e;
    border: 2px dashed #f44647;
    border-radius: 10px;
}


.Bp-dolor {
    position: relative;
    top: -15px;
}

.Bp-details {
    background-color: #303030;
}

.Bp-list {
    list-style: none;
}

.fs-15 {
    font-size: 50px;
}

/* fjasfhjih wjhtkla{ethlkwehylwejkhylejkwhyl */
.testimonial-section{
    background-color: #0e0e0e;
    padding: 80px 0px;
}

.testi-box{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 10px;
}
/* .owl-carousel .owl-nav button.owl-next{
    font-size: 40px;
} */

/* fbaskfbas fbasjkl fasn;jkgnasjkgnlaekjgnek */

.client-section{
    padding: 80px 0px;
}
.owl-my img{
   background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* ejkafshlkejfh lfhekjrge hkgehrghe */
.map-section{
    padding-bottom: 50px;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.map-content{
    padding: 35px;
    border: 2px solid #303030;
    border-radius: 10px;
}
.map-content h3{
    color: rgb(255, 255, 255);

   text-decoration: underline;
}
.map-content ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.map-content ul{
    list-style: none;
}

/* fknaweljkf nwklfnweklfnqwe kfgnwkfn */

.footer-section{
    padding: 30px 0px;
    background-color: #0e0e0e;
}

.right-fixed-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #f44647;
   border-radius: 100%;
   z-index: 10;
   

}
/* sajkgn sjknsk jgnsjknasljkgsj sfjhsljkshjgherilghlj */

@media screen and (max-width:992px) {
    .nav-icon {
        display: none;
    }
}

@media screen and (max-width:992px) {

    .nav-buttonM,
    .nav-lg-bgM {
        background-color: rgb(240, 239, 239);

    }
}

@media screen and (max-width:992px) {
    .nav-lg-bgM ul li a {
        font-size: 12px;
        color: #202020;
        margin-left: 10px;
        border-bottom: 1px solid white;
    }
}
@media screen and (max-width:992px) {
    .animate-btn{
        left: 0px;
    }
}

@media screen and (max-width:576px) {
    .w-30{
        width: 35%;
    }
}